.common-header{
    text-align: center;
    padding: 1%;
    font-size: 2.5rem;
}

.contents-wrapper{
    display: flex;
    height: 90%;
}

.main-contents{
    width: 85%;
    height: 60%;
}

.label-and-textbox{
    margin-top: 1%;
    display: flex;
}

label{
    margin-left: 15%;
    margin-right: 3%;
    font-size: 1rem;
}

select{
    font-size: 1rem;
}

.search-button{
    margin: 0 15% 0 auto;
    font-size: 1rem;
    width: 8rem;
}

.table-div{

    word-break: break-all;
    
}

table,
td {
    border: 1px solid #333;
}

.dance-kind{
    width: 10;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}